@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ago</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/SignalR/Hubs"></script>
    <script type="text/javascript">
        $(function () {
            $.connection.agoHub.client.pong = (payload) => {
                console.debug("PONG invoked on server", payload);
            };

            $.connection.hub.start().done(() => {
                console.debug("SignalR OK.");
                $.connection.agoHub.server.ping(Math.random())
                    .done(payload => console.debug("PING succeeded", payload))
                    .fail(error => console.error("PING failed", error));
                console.debug("PING invoked on client");

                // Download all tasks:
            });
        });
    </script>
</head>
<body>
    <div>
        TEST
    </div>
</body>
</html>
